<!DOCTYPE html>
<html>
  <head>
    <title>TruCast</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/components/container.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/components/segment.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body>
    <div class="ui inverted vertical masthead center aligned segment">
      <div class="ui text container">
         <h1 class="ui inverted header">
           OBS browser source to add your friends videos to your stream
         </h1>
         <h2>The first step is to create a room name to share with friends</h2>
         <form id="createRoom">
           <div class="ui input">
                <input id="room-id" type="text" value="">
                <button id="createroom_btn" class="ui blue button" type="submit">
                  Create Room
                </button>
           </div>
         </form>
      </div>
    </div>
    //<script>
    document.getElementById('createRoom').onclick = function() {
        connection.open(document.getElementById('room-id').value, function() {
        
    });
    //</script>
  </body>
</html>