<!DOCTYPE html>
<html>
  <head>
    <title>TruCast</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/components/container.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/components/segment.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body>
    <div class="ui inverted vertical masthead center aligned segment">
      <div class="ui text container">
        <div class="main">
          <h2>TruCast OBS Browser Source</h2>
          <div id="videos" class="videos"></div>

          <p>First, enter a Room Name and click Create Room to reveal your room links. Then Enter a username and hit connect.
          Specs for OBS Browser Source: Width=1280 Height=720 FPS=30 or 60 CSS=as is</p>
          <p>Status: <span id="status">Disconnnected</span></p>
          <p id="roomLink"></p>
          <p id="obsLink"></p>
          <form id="createRoom">
            <div class="ui input">
              <input id="sessionInput" type="text" value="">
              <button id="createRoom_btn" class="ui green button" type="submit">
                Create Room
              </button>
            </div>
          </form>
          <br/>
          <form>
            <div class="ui input">
              <input id="nick_input" type="text" value="">
              <button id="connect_btn" class="ui blue button" type="submit">
                Connect
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://simplewebrtc.com/latest-v2.js"></script>
    <script>window.channel_id = '${data.channel_id}';</script>
    <script src="/js/index.js"></script>
  </body>
</html>
